<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to My Flask App 🚀</h1>
        <p>This is a simple HTML + CSS + Flask example.</p>
        <button onclick="alert('Hello from Flask!')">Click Me</button>
        <script type="text/javascript">
	atOptions = {
		'key' : '2a26aa6882014c868f05685a8235c14b',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/2a26aa6882014c868f05685a8235c14b/invoke.js"></script>
    </div>
	<script type='text/javascript' src='//pl27780824.revenuecpmgate.com/a2/fe/fb/a2fefb8369fcc577bfe1900b26a30e17.js'></script>
</body>
</html>


